.content__elem{
color: var(--text-color);
padding-left: 10px;
padding-top: 10px;
}
.container{
	position: relative;
	border: 1px solid var(--text-color);
	border-radius: 5px;
	margin: 5px;
	padding-bottom: 10px;
}