.content{
	padding: 10px;
	&__elem{
		padding: 10px;
		color: var(--text-color);
	}
}
ul{
	padding-left: 10px;
	color: var(--text-color);
	li{
		// padding-left: 10px;
		transform: translateX(30px);
	}
}