.content{
	padding: 10px;
	&__elem{
		padding: 10px;
		color: var(--text-color);
	}
}
ul{
	padding-left: 10px;
	color: var(--text-color);
	li{
		// padding-left: 10px;
		transform: translateX(30px);
	}
}
.star{
	margin-right: 10px;
	height: 20px;
	width: 20px;
	fill: var(--text-color);
	cursor: pointer;
	&:hover{
		transform: scale(1.05);
	}
	&:active{
		transform: scale(0.95);
	}
}
.li{
	background-color: var(--color-additional);
}
.li__default{
	width: 90%;
	cursor: pointer;
	margin-bottom: 5px;
	// margin-left: auto;
	// margin-right: auto;
	transform: translateX(7.5px);
	list-style-type: none;
}
.link{
	padding: 7px;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	// margin-top: auto;
	// margin-bottom: auto;
	margin: 0;
	color: var(--text-color);
	&:hover{
		background: var(--color-additional);
	}
	&:active{
		background: var(--color-additional7);
	}
}