.container {
  cursor: pointer;
  position: relative;
  padding: 0;
  margin: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  width: 95%;
  color: var(--text-color);
  h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    .link {
      text-decoration: none;
      color: var(--text-color);
      &:hover {
        color: var(--color-additional);
      }
      &:active {
        color: var(--color-additional7);
      }
    }
  }
}
.zero__favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__link {
    text-decoration: none;
    color: var(--text-color);
    &:hover {
      color: var(--color-additional);
    }
    &:active {
      color: var(--color-additional7);
    }
  }
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
li {
-ms-text-overflow: ellipsis;
text-overflow: ellipsis;
overflow: hidden;
-ms-line-clamp: 2;
-webkit-line-clamp: 2;
line-clamp: 2;
display: -webkit-box;
display: box;
word-wrap: break-word;
-webkit-box-orient: vertical;
box-orient: vertical;
font-size: 15px;
line-height: 19px;
}

ul{
  padding-right: 40px;
}