body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--bg-body);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root[data-theme='dark'] {
	--bg-body:rgb(39, 43, 63);
	--bg-header: #575c63;
	--bg-content: #3a3e42;
	--text-color: #f5f6f7;
	--color-placeholder: rgba(255, 255, 255, 0.5);
	--color-additional: #93b1ff;
	--color-additional7: rgba(147, 177, 255, 0.7);
}
:root[data-theme='light'] {
	--bg-body: rgb(212, 223, 233);
	--bg-header: rgb(138, 179, 207);
	--bg-content: white;
	--text-color: black;
	--color-placeholder: rgba(255, 255, 255, 0.5);
	--color-additional: rgb(172, 217, 235);
	--color-additional7: rgb(172, 217, 235,0.7);
}